<p>Add a New Product!</p>

<form (submit)="onSubmit()" *ngIf=editProd>
    {{ editProd | json }}
        <div class="form-group">
            <label for="">Name</label>
            <p class="small text_danger" >{{err?.name.message}}</p>
            <input type="text" class="form-control w-50" name="editProd.name" [(ngModel)]="editProd.name" value="{{editProd.name}}">
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <p class="small text_danger" >{{err?.price.message}}</p>
            <input type="number" class="form-control w-50" name="editProd.price" [(ngModel)]="editProd.price">
        </div>
        <div class="form-group">
            <label for="">Image URl</label>
            <p class="small text_danger" >{{err?.img.message}}</p>
            <input type="text" class="form-control w-50" name="editProd.img" [(ngModel)]="editProd.img">
        </div>
        <button type="submit">Submit</button>
    </form>
    